@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.borderWithShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

.borderWithoutShadow {
  border: 1px solid #292828;
}

.mainColor {
  background-color: #fcb110;
}

.mainColor2 {
  background-color: #fff5e6;
}

.changeTextColor {
  color: #292828;
}

.textStyle1 {
  font-family: "Poppins", sans-serif;
  color: #292828;
}

.textStyle2 {
  font-family: "Poppins", sans-serif;
  color: #555555;
}

h1 {
  font-family: "Reggae One", cursive;
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 22%;
  margin-bottom: 8%;
  text-align: center;
  font-size: 1.4rem;
}

p {
  font-size: 0.9rem;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

button:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #292828;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

#container {
  position: absolute;
  height: 100vh;
  max-height: 900px;
  width: 100vw;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#infoBlock {
  position: absolute;
  z-index: 2;
  width: 90%;
  max-width: 650px;
  height: 30%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  border-radius: 3px;
}

#message {
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
}

#startButton {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28%;
  font-family: "Poppins", sans-serif;
}

#settings {
  z-index: 2;
  position: absolute;
  top: 4%;
  left: 4%;
}

.settings-button {
  width: 2.2rem;
  padding-top: 1%;
  background: transparent;
}

#settings-button_desktop {
  width: 2.5rem;
  display: none;
}

#settings-button_desktop img {
  margin-top: 5%;
}

.settings-button_bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.2rem 0;
}

#players-block {
  width: 90%;
  max-width: 650px;
  height: 35%;
  margin: auto;
  text-align: center;
}

.player-block {
  display: inline-block;
  text-align: center;
  margin: 13% 0.5rem 0 0.5rem;
}

.selectedSigns {
  width: 5.5rem;
  height: 5.5rem;
  margin: 10px 0;
}

#selection {
  position: absolute;
  width: 90%;
  max-width: 650px;
  height: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 3%;
}

#selection p {
  margin-top: 7%;
}

#selection li {
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  margin: 0.3rem;
  cursor: pointer;
}

/* landscape for smart phones */
@media only screen and (orientation: landscape) and (max-width: 767px) {
  #container {
    max-height: 400px;
    max-width: 850px;
  }

  h1 {
    font-size: 1.2rem;
    margin: 7% 0 0 2%;
    width: 40%;
    float: left;
  }

  #settings {
    left: 2%;
  }

  #players-block {
    position: absolute;
    right: 2%;
    width: 50%;
    height: 90%;
    padding: 0;
    top: 5%;
  }

  .player-block {
    margin-top: 13%;
  }

  #rule {
    margin-top: 3%;
  }

  .selectedSigns {
    width: 6.5rem;
    height: 6.5rem;
  }

  #selection {
    margin-left: 2%;
    height: 55%;
    width: 40%;
    left: 0;
    transform: translateX(0%);
    bottom: 5%;
  }

  #selection p {
    font-size: 0.8rem;
    margin-top: 5%;
  }

  ul {
    margin-top: 2%;
  }

  #selection li {
    width: 2.7rem;
    height: 2.7rem;
  }

  #infoBlock {
    width: 40%;
    height: 55%;
    left: 2%;
    transform: translateX(0%);
    bottom: 5%;
  }
}

/* landscape for tablets */
@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 990px) {
  #container {
    max-height: 500px;
    /* max-width: 1000px; */
  }

  h1 {
    font-size: 1.5rem;
    margin: 10% 0 0 2%;
    width: 40%;
    float: left;
  }

  #settings {
    left: 3%;
  }

  .settings-button_bar {
    height: 0.35rem;
    margin: 0.2rem 0;
  }

  .settings-button {
    width: 3rem;
    padding-top: 1%;
  }

  #players-block {
    position: absolute;
    right: 3%;
    width: 50%;
    height: 80%;
    padding: 0;
    top: 8%;
  }

  .player-block {
    margin: 18% 2% 0 2%;
  }

  .player-block p {
    font-size: 1.2rem;
  }

  #rule {
    margin-top: 3%;
    font-size: 1.2rem;
  }

  .selectedSigns {
    width: 8rem;
    height: 8rem;
  }

  #selection {
    margin-left: 3%;
    height: 50%;
    width: 40%;
    left: 0;
    transform: translateX(0%);
    bottom: 10%;
  }

  #selection p {
    font-size: 1.1rem;
    margin-top: 10%;
  }

  #selection li {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1%;
  }

  #infoBlock {
    width: 40%;
    height: 50%;
    left: 3%;
    transform: translateX(0%);
    bottom: 10%;
  }

  #message {
    font-size: 1.5rem;
    left: 50%;
    top: 30%;
  }

  #startButton {
    font-size: 1.3rem;
    bottom: 30%;
  }
}

/* portrait for tablets */
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 990px) {
  #container {
    max-height: 800px;
    max-width: 500px;
    border: 1px solid #292828;
  }

  h1 {
    margin-top: 15%;
    font-size: 1.5rem;
  }

  .settings-button {
    width: 2.5rem;
  }
  .settings-button_bar {
    height: 0.25rem;
  }

  .player-block {
    margin-top: 10%;
    margin-right: 2rem;
  }

  .player-block p {
    margin-top: 3%;
    font-size: 1.1rem;
  }

  #rule {
    margin-top: 2%;
    font-size: 1.1rem;
  }

  .selectedSigns {
    width: 7.5rem;
    height: 7.5rem;
  }

  #message {
    font-size: 1.6rem;
    top: 30%;
  }

  #startButton {
    padding: 0.6rem 2.5rem;
    bottom: 35%;
  }

  #selection p {
    font-size: 1.1rem;
    margin: 10% 0 5% 0;
  }

  #selection li {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
  }
}

/* laptops */
@media only screen and (min-width: 991px) {
  #container {
    max-height: 900px;
    max-width: 600px;
  }

  h1 {
    margin-top: 16%;
    margin-bottom: 8%;
    width: 70%;
    font-size: 1.8rem;
  }

  #settings-button_desktop {
    display: block;
  }

  #settings-button_mobile {
    display: none;
  }

  .player-block {
    margin: 8% 5% 2% 5%;
  }

  .player-block p {
    font-size: 1.1rem;
  }

  #rule {
    font-size: 1.1rem;
  }

  .selectedSigns {
    width: 7rem;
    height: 7rem;
  }

  #message {
    font-size: 1.7rem;
  }

  #startButton {
    font-size: 1.3rem;
  }

  #selection p {
    font-size: 1.2rem;
    margin: 10% 0 0 0;
  }

  #selection li {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
  }
}

/* larger screens */
@media only screen and (min-width: 1500px) {
  #container {
    max-height: 1300px;
    max-width: 1000px;
  }

  #settings-button_desktop {
    display: block;
    width: 3.5rem;
  }

  #settings-button_mobile {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  .player-block {
    margin: 10% 2rem 3% 2rem;
  }

  .player-block p {
    font-size: 1.4rem;
    margin-bottom: 10%;
  }

  #rule {
    font-size: 1.4rem;
  }

  .selectedSigns {
    width: 10rem;
    height: 10rem;
  }

  #message {
    font-size: 2rem;
    top: 30%;
  }

  #startButton {
    font-size: 1.7rem;
    padding: 0.6rem 3.5rem;
    bottom: 35%;
  }

  #selection p {
    font-size: 1.5rem;
    margin-top: 15%;
  }

  #selection li {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
  }
}
